<p id="notice"><%= notice %></p>
<% content_for :title, 'Buy' %>
<div class ="page-header text-left" > 
  <h1><%= "Buy Alert" %></h1>
</div>

<table  id="buy_alert" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Qty</th>
      <th>Target</th>  
      <th>Price</th>
      <th>Diff</th> 
      <th>Spd</th>             
      <th>Cost</th>            
      <th>Min</th> 
      <th>IAA</th>   
      <th>Method</th>        
    </tr>
  </thead>
  <tbody>
    <% @portfolios.each do |portfolio| %>
      <% spreads = num_of_spread(portfolio.ticker.daily_price.price,portfolio.buy_unit_cost).to_i %>
      <tr>
        <td><%= portfolio.name %></td>
        <td><%= number_with_delimiter(portfolio.buy_qty, delimiter: ",") %></td>
        <td><%= number_with_precision(portfolio.buy_unit_cost, precision: 2) %></td>
        <td><%= number_with_precision(portfolio.ticker.daily_price.price, precision: 2) %></td>
        <% diff = portfolio.buy_unit_cost - portfolio.ticker.daily_price.price %>
        <td><%= number_with_precision(diff, precision: 2) %></td>  
        <td><%= spreads %></td>              
        <td><%= number_with_precision(portfolio.comp_unit_cost, precision: 2) %></td>
        <td><%= number_with_precision(portfolio.ticker.stock.min_price, precision: 2) %></td>
        <% if portfolio.ticker.consensu %>
        <td><%= number_with_precision(portfolio.ticker.consensu.target_price, precision: 2) %></td>
        <% else %>
        <td><%= 0.00 %></td>  
        <% end %>
        <td><%= portfolio.buy_method.titleize %></td>
      </tr>
    <% end %>
  </tbody>
</table>